
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');


*{
    font-family: "Inspiration", cursive;
    font-weight: 300;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    width: 70%;
    min-height: 53vh;
    margin: 25vh auto;
    text-align: center;
}

img{
    width: 100%;
}

.img img-pequena{
    display: none;
}

.caixa{
    width: 18%;
    height: 120px;
    margin: 1%;
    float: left;
}

.caixa-1{
    background-color: #ff4040;
}

.caixa-2{
    background-color: #0066ff;
}

.caixa-3{
    background-color: #1eff00;
}

.caixa-4{
    background-color: #ff0095;
}

.caixa-5{
    background-color: #000000;
}

/* #MEDIA QUERIES */

@media(max-width: 480px){
    body{
        background-color: green;
        color: #ffffff;
    }

    .caixa{
        width: 100%;
    }
}

@media(min-width: 481px) and (max-width: 768px){
    body{
        background-color: yellow;
        color: #000000;
    }

    .caixa{
        width: 48%;
        
    }
}

@media(min-width: 769px) and (max-width: 992px){
    body{
        background-color: blue;
        color: #ffffff;
    }

    .caixa{
        width: 18%;
        
    }
}

@media(orientation: landscape){
    body{
        background-color: gold;
        color: black;
    }
}

@media print {
    .conteiner-caixas{
        display: none;
    }
}

@media(max-width: 769px){
    .img img-grande{
        display: none;
    }

    .img img-pequena{
        display: block;
    }
}